.tarefas-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tarefas-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fafafa;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.form-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}
