<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciar categorias</title>
</head>
<body>
    <h1>Associar categorias para uma tarefa</h1>
    <span th:text="${tarefa.titulo}"></span>
    <span th:text="${tarefa.id}"></span>
    <div>
        <p th:each="categoria : ${categorias}">
            <span th:text="${categoria.nome}"></span>
            <span th:text="${categoria.id}"></span>

        </p>
    </div>

</body>
</html>