<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Categorias</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" th:href="@{/listar-categorias.css}">
</head>

<body>
    <div class="tarefas">
        <div class="tarefas-card-header">
            <h1>CATEGORIAS CADASTRADAS</h1>
        </div>
        <ul class="tarefas-list" style="list-style:none; margin:0; padding:0;">
            <li class="tarefas-card" th:each="categoria : ${categorias}">
                <div>
                    <strong th:text="${categoria.nome}">Nome</strong>
                </div>
                <div>
                    <span>
                        <form th:action="@{'/templates/categorias/' + ${categoria.id} + '/excluir'}" method="post">
                            <button onclick="return confirm('Tem certeza que deseja excluir esta categoria?')" type="submit">Excluir</button>
                        </form>
                    </span>
                </div>
            </li>
        </ul>

        <div class="form-buttons">
            <button>
                <a href="/templates/categorias/categoria">Nova Categoria</a>
            </button>
            <button>
                <a href="/templates/listar">Voltar para Tarefas</a>
            </button>
        </div>
    </div>
</body>

</html>
