<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Categorias</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
    <div class="tarefas">
        <div class="tarefas-card-header">
            <h1>CATEGORIAS CADASTRADAS</h1>
        </div>
        <ul class="tarefas-list" style="list-style:none; padding:0;">
            <li class="tarefas-card" th:each="categoria : ${categorias}">
                <div>
                    <strong th:text="${categoria.nome}">Nome</strong>
                </div>

                <div class="card-actions">
                    <a th:href="@{'/templates/categorias/editar/' + ${categoria.id}}" class="btn-editar">Editar</a>
                    <form th:action="@{'/templates/categorias/' + ${categoria.id} + '/excluir'}" method="post"
                        style="display: inline;">
                        <button class="btn-excluir" onclick="return confirm('Tem certeza?')"
                            type="submit">Excluir</button>
                    </form>
                </div>
            </li>
        </ul>

        <div class="form-buttons">
            <a th:href="@{/templates/categorias/categoria}" class="btn-primary">Nova Categoria</a>
            <a th:href="@{/templates/listar}" class="btn-secondary">Voltar para Tarefas</a>
        </div>
    </div>
</body>

</html>