<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova Tarefa</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

</html>

<body>
    <form th:action="@{/templates/salvar}" th:object="${tarefa}" method="post">
        <h1>Nova tarefa</h1>

        <div>
            <label>Título</label>
            <input th:field="*{titulo}" type="text">
        </div>

        <div>
            <label>Descrição</label>
            <textarea th:field="*{descricao}" type="text"></textarea>
        </div>

        <div>
            <label>Responsável</label>
            <input th:field="*{responsavel}" type="text">
        </div>

        <div>
            <label>Prioridade</label>
            <select th:field="*{prioridade}">
                <option th:each="p : ${prioridades}" th:value="${p}" th:text="${p}"></option>
            </select>
        </div>

        <div>
            <label>Status</label>
            <select th:field="*{status}">
                <option th:each="s : ${listaStatus}" th:value="${s}" th:text="${s}"></option>
            </select>
        </div>

        <div>
            <label>Data limite</label>
            <input type="date" th:field="*{dataLimite}">
        </div>

        <div class="form-buttons">
            <button type="submit">Salvar</button>
            <button> <a href="/templates/listar">Cancelar</a></button>
        </div>
    </form>

</body>